<div class="container-fluid">
  <div class="row bg-primary mb-4 p-3">
    <div class="col-sm-9">
      <h3 class="text-white">White Board</h3>
    </div>
    <div class="col-sm-3 row">
      <a routerLink="/home" class="text-white mt-2">Home</a>
      <a routerLink="/profile" class="text-white mt-2 ml-3">Profile</a>
      <a routerLink="/quizzes" class="text-white mt-2 ml-3">Quizzes</a>
    </div>
  </div>
  <h2>{{quiz.title}}</h2>

  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let question of quiz.questions">
      <h4>
        {{question.title}}
        <span class="float-right">{{question.points}}</span>
      </h4>
      <p>{{question.description}}</p>
      <div [ngSwitch]="question.questionType">
        <app-multiple-choice [question]="question"
                             *ngSwitchCase="'MULTIPLE_CHOICE'">
        </app-multiple-choice>
        <app-fill-blank [question]="question"
                        *ngSwitchCase="'FILL_BLANK'">
        </app-fill-blank>
        <app-true-false [question]="question"
                        *ngSwitchCase="'TRUE_FALSE'">
        </app-true-false>
        <app-essay [question]="question"
                   *ngSwitchCase="'ESSAY'">
        </app-essay>
      </div>
    </li>
  </ul>
  <div>
    <button class="btn btn-primary float-right"
            (click)="submitQuiz(quiz)">
      Submit
    </button>

    <button class="btn btn-danger float-right" href="/quiz">
      Cancel
    </button>
  </div>

</div>
