<div class="container-fluid">
  <div class="row bg-primary mb-4 p-3">
    <div class="col-sm-9">
      <h3 class="text-white">White Board</h3>
    </div>
    <div class="col-sm-3 row">
      <a routerLink="/home" class="text-white mt-2">Home</a>
      <a routerLink="/profile" class="text-white mt-2 ml-3">Profile</a>
    </div>
  </div>
  <input class="form-control mb-4"
         (ngModelChange)="filterResults($event)"
         [(ngModel)]="search" placeholder="Search username"/>

  <div class="container-fluid">
    <ul class="list-group">
      <li class="head row">
        <div class="col-lg-3 font-weight-bold">Username</div>
        <div class="col-lg-3 font-weight-bold">Quiz Name</div>
        <div class="col-lg-3 font-weight-bold">Submission Time</div>
        <div class="col-lg-3 font-weight-bold">Quiz Answers</div>
      </li>
      <li class="row " *ngFor="let submission of sub">
        <div class="col-lg-3">{{submission.student.username}}</div>
        <div class="col-lg-3">{{submission.quiz.title}}</div>
        <div class="col-lg-3" *ngIf="submission.timestamp === undefined"></div>
        <div class="col-lg-3" *ngIf="submission.timestamp !== undefined">{{submission.timestamp.toString().substr(0,
          10)}}
          Time: {{submission.timestamp.toString().substr(11, 8)}}
        </div>
        <div class="col-lg-3"><a routerLink="{{submission._id}}/answers">Answers</a></div>
      </li>
    </ul>
  </div>
</div>
