<div class="container-fluid">
  <div class="row bg-primary mb-4 p-3">
    <div class="col-sm-9">
      <h3 class="text-white">White Board</h3>
    </div>
    <div class="col-sm-3 row">
      <a routerLink="/home"
         class="text-white mt-2">
        Home
      </a>
      <a routerLink="/profile"
         class="text-white mt-2 ml-3">
        Profile
      </a>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let quiz of quizzes">
      <h5>{{quiz.title}}</h5>
      <a class="btn btn-success float-right m-1"
         href="/quiz/{{quiz._id}}"
         *ngIf="currentUser.username !== undefined && currentUser.username.localeCompare('admin') !== 0">
        Take Quiz
      </a>
      <a class="btn btn-info float-right m-1"
         href="/quiz/{{quiz._id}}/submissions"
         *ngIf="currentUser.username !== undefined">
        View Submissions
      </a>
    </li>
  </ul>
</div>
